.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left{
  text-align: left;
}

.login{
  /* min-height: 100vh; */
  height: auto;
  /* background-color: black; */
  padding: 10px;
  filter: drop-shadow(2px 2px 6px black);
  margin-top: 20px;
}

.login label, .login h1 {
  color: red !important;
  /* color: white !important; */
}

p{
  line-break: anywhere;
}

body{
  background-color: #fafafa !important;
}

.ant-col{
  /* filter: drop-shadow(2px 2px 3px black); */
  min-width: 300px;
  max-width: 300px !important;
}

.container-drop{
  filter: drop-shadow(2px 4px 6px black);
}